*, *::before, *::after{
    margin: 0;    
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

.App{
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    width: 85px;
    height: 55px;
    margin-bottom: 85px;
}

/* container */

.container{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;    
    padding: 45px;
    border-radius: 25px;
    max-width: 920px;
    gap: 48px;
}

.results{
    background-color: var(--button-color);
}

label{
    color: var(--label-color);
}