*, *::before, *::after{
    margin: 0;    
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

.App{
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    width: 85px;
    height: 55px;
    margin-bottom: 85px;
}

/* container */

.container{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;    
    padding: 45px;
    border-radius: 25px;
    max-width: 920px;
    gap: 48px;
}

.results{
    background-color: var(--button-color);
}

label{
    color: var(--label-color);
}

/* left side of the container */

.input-container{
    display: flex;
    flex-direction: column;
    max-width: 380px;
}

.input-container input{
    font-size: 24px;
    padding: 15px 17px;
}

.input-container input:hover,
.input-container input{
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(38, 194, 174, 1);
    border-radius: 4px;
}

input{
    outline: none;
    border: none;
    text-align: right;
    background-color: var(--input-background-color);
    font-weight: 700;
    color: var(--button-color);
}

/* buttons, that show tip values */

.buttons-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 14px;
    column-gap: 16px;
    margin: 40px 0;
}

.buttons-container span{
    grid-column: span 3;
    color: var(--label-color);
    padding-top: 20px;
}

.tip-button,
.button{
    width: 117px;
    font-size: 24px;
    border: none;
    font-weight: 700;
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
}

.tip-button:hover{
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--button-color);
}

.button{
    background-color: white;
    color: var(--button-color);
    padding: 10px 0;
    text-align: center;
}

.button:focus{
    box-shadow: 0 0 0 2px var(--results-lightgreen-color);
}

.button::placeholder{
    color: var(--custom-color);
}

[data-value="invicible"]{
    color: white;
    text-align: right;
}

[data-value="error"]{
    color: var(--error-color);
    text-align: right;
}

[data-border-bill="error"]{
    box-shadow: 0px 0px 0px 2px rgba(225, 116, 87, 1) !important;
    animation: shake 0.4s ease-in;
    border-radius: 4px;
}

[data-border-people="error"]{
    box-shadow: 0px 0px 0px 2px rgba(225, 116, 87, 1) !important;
    animation: shake 0.4s ease-in;
    border-radius: 4px;
}

.shake{
    box-shadow: 0px 0px 0px 4px var(--results-lightgreen-color);
    animation: shake 0.4s ease-in;
}

@keyframes shake{
    0% { transform: translateX(-5px); }
    25% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}


/* right side of the container */


.results-box p{
    font-size: 16px;
    color: white;
}

.per{
    color: var(--per-color) !important;
    font-size: 13px !important;
}

.inputed-number{
    color: var(--results-lightgreen-color);
    font-size: 48px;
}

.reset{
    background-color: var(--results-lightgreen-color);
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0;
    text-transform: uppercase;
    color: var(--button-color);
    border: none;
    border-radius: 5px;
}

.reset:hover{
    cursor: pointer;
    background-color: var(--hover-color);
}

.results{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    padding: 40px;
}

.results-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.results-box:first-child{
    margin-bottom: 40px;
}

.clicked{
    background-color: var(--results-lightgreen-color);
}